/* ReviewsCard.css */
.review-card {
  background-color: #F9F9F7;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: 'DMSans', sans-serif;
}

.review-content {
  border-bottom: 1px solid #DBDFD0;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.review-title {
  font-size: 1.5rem;
  color: #AD343E;
  line-height: 1.75rem;
  font-weight: 700;
}

.review-description {
  font-size: 1.125rem;
  color: #414536;
  line-height: 1.75rem;
  font-weight: 400;
}

.reviewer-info {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  gap: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.reviewer-image-container {
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

.reviewer-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reviewer-details {
  display: flex;
  flex-direction: column;
}

.reviewer-name {
  line-height: 1.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #2C2F24;
}

.reviewer-location {
  line-height: 1.5rem;
  font-weight: 400;
}